<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.popmovies">

    <!-- This permission is necessary in order to retrieve movie information from theMovieDB. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoviesOverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieDetailActivity" android:parentActivityName=".MoviesOverviewActivity"><meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MoviesOverviewActivity" /></activity>
        <!-- Facilitates interacting with the SQLite database that stores information about the users favorite movies -->
        <provider
            android:name="com.example.android.popmovies.data.FavoriteMoviesContentProvider"
            android:authorities="com.example.android.popmovies"
            android:exported="false"/>
    </application>

</manifest>